appliNom = heytate-cardiac

[heytate-cardiac]
langueNom=frFR
appliChemin_enUS=/usr/local/src/heytate-cardiac
nomDomaine=idahoheartinstitute.com
nomEnsembleDomaine=com.heytate.frFR.cardiaque
#autresLangues=enUS
suffixeSrcMainJava=/src/main/java
suffixeSrcGenJava=/src/gen/java
cheminsRelatifsARegarder=src/main/java/com/heytate/frFR
nomEntreprise=Idaho Heart Institute
